:root {
  --main-color: #83d5f6;
  --highlight-color: #8d7ab1;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

php {
  scroll-behavior: smooth;
  background-color: white;
}

/* Header */
header {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 10px 20px;
}

.logo {
  height: 70px;
  width: auto;
}

.nav-search {
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 620px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  align-self: center;
}

.select-search {
  background: #f3f3f3;
  width: 50px;
  text-align: center;
  border-radius: 4px 0 0 4px;
  border: none;
}

.search-input {
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-icon {
  max-width: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: var(--main-color);
  color: #000;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.dashboard {
  background: var(--main-color);
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.dashboard ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0 20px;
}

.dashboard ul li {
  padding: 0 10px;
  font-size: 2rem;
  color: var(--text-light);
  cursor: pointer;
  white-space: nowrap;
}

.dashboard ul li a {
  text-decoration: none;
  color: white;
}

.dashboard ul li.limited a,
.dashboard ul li.on-sale a {
  color: #8d7ab1;
}

.dashboard ul .more {
  display: flex;
  align-items: center;
}

.hamburger.material-symbols-outlined {
  font-size: 3rem;
}

.dashboard ul .divider {
  color: white;
  padding: 0 10px;
}
.more-categories {
  display: none;
  position: absolute;
  background-color: white;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 170px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.more-categories ul {
  padding: 0;
  list-style: none;
}

.more-categories ul li {
  padding: 10px;
}

.more-categories ul li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.more-categories ul li a:hover {
  background-color: #f1f1f1;
}

.cards {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.coins {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.comics {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.miniatures {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.stamps {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.events {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.collections {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.menu {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.more {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
